table,
th,
td {
  border: 1px solid black;
}

td {
  padding: 10px;
}

#item-csv {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: rgb(127, 193, 255);
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.item-image {
  width: 80px;
}

.item-action {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.item-edit {
  border-color: orange;
}

.item-delete {
  border-color: red;
}

.item-submit input {
  display: block;
}
